# Neon Postgres — récupérez la chaîne "pooled connection" depuis votre dashboard Neon
DATABASE_URL="postgresql://user:password@ep-xxxx-pooler.eu-central-1.aws.neon.tech/autopieces?sslmode=require"
DIRECT_URL="postgresql://user:password@ep-xxxx.eu-central-1.aws.neon.tech/autopieces?sslmode=require"

NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
